* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'neue-haas-unica';
    min-height: 100vh;
}

@font-face {
    font-family: 'CustomerCopy';
    src: url('Customer Copy.woff2') format('woff2'), /* Modern Browsers */
         url('Customer Copy.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

a {
    color: black;
    text-decoration: none; /* Remove underline */
    font-family: 'CustomerCopy', sans-serif;
    font-size: 17pt;
}

.main-container {
    /* background-color: maroon; */
    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    /* margin-top: 100px; */
    min-height: 100vh;

}

/* HEADER */

.header {
    width: 100vw;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;

    border-bottom: 2px solid black;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 35px; /* Set the maximum height of the logo */
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25px; 
}

.buttons {
    height: 100%;
    width: 400px;
    /* background-color: blue; */
    margin-right: 20px;

    display: flex;
    justify-content: end;
    align-items: center;
}

#openBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;
    right: 20px;

    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;

}

#openBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

#aboutBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#aboutBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.directory-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
}

#closeBtn {
    padding:5px 14px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#closeBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.slide-out {
    position: fixed;
    bottom: -100%; /* Initially hidden below the screen */
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 2px solid black;
    transition: bottom 0.3s ease-in-out;
}

.slide-in {
    bottom: 0; /* Slide in from the bottom */
}

/* HOUSE */


.wrapper {
    /* background-color: pink; */
    width: 84vw;
    height: 45vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 90px;
    padding-bottom: 20px;
}

.left {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.right {
    width: 20%;
    height: 100%;
}

.row {
    /* background-color: pink; */
    /* border-bottom: black solid 1px; */

    width: 100%;
    height: 33.333%;

    display: flex;

}

/* ATTIC */


.attic {
    background-color: white;
    border-right: solid black 2px;
    border-left: solid black 2px;
    border-top: solid black 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.attic:hover {
    background-color: #ffc60a;
    transition: 1s;
}

/* TOP FLOOR */

.closet {
    background-color: white;
    border-right: solid black 2px;
    border-left: solid black 2px;
    border-top: solid black 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16.667%;
    height: 100%;
}

.closet:hover {
    background-color: #ffc60a;
    transition:1s;
}

.bedroom {
    background-color:white;
    border-right: solid black 2px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 65%;
    height: 100%;
}



/* LADDER */
.ladder {
    width: 20%;
    height: 100%;
    border-left: solid black 2px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ladder-wrapper {
    width:60%;
    height:85%;
    /* background-color: aqua; */

    border-left: solid black 2px;
    border-right: solid black 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ladder-rung {
    height:1%;
    width: 100%;
    /* background-color: blue; */
    border-bottom: black solid 2px;

}

.bottom {
    border-bottom: black solid 2px;
}

.bedroom-type {
    width: 80%;
    height: 100%;
    /* border: solid black 2px; */
    background-color: white;

    display:flex;
    justify-content: center;
    align-items: center;
}

.bedroom-type:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.study {
    background-color:white;
    border-right: solid black 2px;
    border-top: solid black 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 100%;
}

.study:hover {
    background-color: #ffc60a;
    transition:1s;
}

/* BOTTOM FLOOR */

.living-room {
    background-color: white;
    border-right: solid black 2px;
    border-left: solid black 2px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 100%;
}

.living-room:hover {
    background-color: #ffc60a;
    transition:1s;
}

.kitchen {
    background-color: white;
    border-right: solid black 2px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
}

.kitchen:hover {
    background-color: #ffc60a;
    transition:1s;
}

.dining-room {
    background-color: white;
    /* border-right: solid black 2px; */
    border-top: solid black 2px;
    border-bottom: solid black 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
}

.dining-room:hover {
    background-color: #ffc60a;
    transition:1s;
}

.entryway {
    width: 15%;
    height: 100%;
    background-color: white;

    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
    border-right: solid black 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.entryway:hover {
    background-color: #ffc60a;
    transition: 1s;
}


/* BACKYARD */

.backyard-wrapper {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.backyard {
    background-color: white;
    width: 75%;
    height: 40%;
    border: solid black 2px;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.backyard:hover {
    background-color: #ffc60a;
    transition: 1s;
}

/* .backyard-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    /* background-color:chocolate; 
} 
*/

.tree-wrapper {
    /* background-color: beige; */
    width: 65%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaves {
    width: 100%;
    height: 80%;
    background-color: white;
    border: solid black 2px;
    border-radius: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inner-trunk {
    width: 0%;
    height: 50%;
    border-right: solid black 2px;
    position: relative;
}

.trunk-wrapper {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trunk {
    width: 0%;
    height: 100%;
    border-right: solid black 2px;
    position: relative;
    
}


/* MOBILE SIZE */

@media screen and (max-width: 700px) {
    .floor {
        display:none;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

}

@media screen and (min-width: 700px) {
    .mobile-house-wrapper {
        display: none;
    }
}


@media screen and (max-width: 700px) {


    .main-container {
        /* background-color: pink; */
        height: 500vw;

        display: flex;
        margin-top: 20px;
    }

    .backyard-2-wrapper {
        display: none;
    }


    .floor {
        display: none;
    }

    .square {
        background-color: white;
    }

    .wrapper {
        width: 85vw;
        height: 500vw;
        /* background-color: aquamarine; */

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .mobile-house-wrapper {
        /* background-color: blueviolet; */
        height: 100%;
        width: 100%;
        
        display: flex;

        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
    }

    .backyard-3-wrapper {
        /* background-color:lightcoral; */
        width: 45%;
        height: 12%;
    }

    .backyard-3 {
        width: 100%;
        height: 92%;
        background-color:white;
        border: black solid 2px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .backyard-3:hover {
        background-color: #ffc60a;
        transition: 1s;
    }

    .square {
        width: 100%;
        height: 14.2857143%;
        /* background-color: cornflowerblue; */
        border-bottom: solid black 2px;

    }

    .square:hover {
        background-color: #ffc60a;
        transition: 1s;
    }

    .triangle-img {
        max-width: 100%;
        max-height: 100%;
    }

    .attic-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
        border-top: solid black 2px;
    }

    .bedroom-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }

    .entryway-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        border-left: solid black 2px;
        border-right: solid black 2px;

    }

    .study-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }

    .livingroom-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }

    .diningroom-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }

    .kitchen-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }

    .garage-3 {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-left: solid black 2px;
        border-right: solid black 2px;
    }


}
