* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomerCopy';
    src: url('/Customer Copy.woff2') format('woff2'), /* Modern Browsers */
         url('/Customer Copy.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    font-family: 'neue-haas-unica';

}

/* name stuff */
.name-container {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: scroll; /* Hide overflow to keep names within screen */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.name-tag {
    position: absolute;
    display: inline-block;
    padding: 6px;
    /* border: 2px solid black; */
    color: white;
    background-color: black;
    cursor: pointer;
    width: 100px;
    /* height: 20px; */
    text-align: center;

font-family: 'CustomerCopy', sans-serif;

}

.name-tag:hover {
    background-color: #ffc60a;
    color: black;
    transition: 1s;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    /* background-color: #ffc60a; */
}

/* HEADER */

.header {
    width: 100vw;
    height: 70px;
    background-color: white;

    border-bottom: black solid 2px;

    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    max-height: 35px; /* Set the maximum height of the logo */
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25px; 
}

.buttons {
    height: 100%;
    width: 400px;
    /* background-color: blue; */
    margin-right: 20px;

    display: flex;
    justify-content: end;
    align-items: center;
}

#openBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;
    right: 20px;

    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;

}

#openBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

#aboutBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#aboutBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.directory-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
}

#closeBtn {
    padding:5px 14px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#closeBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.slide-out {
    position: fixed;
    bottom: -100%; /* Initially hidden below the screen */
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 2px solid black;
    transition: bottom 0.3s ease-in-out;
}

.slide-in {
    bottom: 0; /* Slide in from the bottom */
}

/* MAIN */

.main {
    width: 100%;
    height: 100%;
    /* background-color: #ffc60a; */

    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 70px;
}




/* right text box */

/* .text-wrapper {
    background-color:white;
    width: 30%;
    height: 46vw;

    border: solid black 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

} */

.room-name {
    width: 90%;
    height: 20%;

    margin-top: 5%;

    border: solid black 1.5px; 

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'CustomerCopy', sans-serif;
    font-size: 22pt;
}

.name-box {
    width: 90%;
    height: 70%;
    /* background-color: lightcoral; */
    margin-top: 5%;

    border: solid black 1.5px;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.inner-name-box {
    /* background-color: cadetblue; */
    width: 90%;
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;


    overflow:scroll;

    line-height: 10pt;
    font-size: 10pt;
}

/* ABOUT PAGE */

.about {
    background-color: #ed2087;
    display: flex;
    justify-content: center;
}

.about-info {
    width: 100vw;
    height: 46vw;
    background-color: white;

    border: solid black 2px;

    display: flex;
    margin:20px;
    margin-top: 90px;

    justify-content: center;
    align-items: center;

    font-family: "neue-haas-unica";

}


/* ROOMS */

.mobile {
    display: none;
}

.desktop {
    position: fixed;
}

.entry {
    margin-top: 50px;
}

.office {
    margin-top: 50px;
}

/* .kitchen {
    margin-top: 70px;
} */

.living {
    margin-top: 50px;
}

.dining {
    margin-top: 70px;
}

.bedroom {
    margin-top: 70px;
}


/* student project page */
.project {
    /* background-color:darkgray; */
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background-color: bisque; */
    gap: 20px;
}

.project-wrapper {
    display: flex;
    width: 86vw;
    height: 44vw;
    border: solid 2px black;
    margin-top: 20px;
}

.carousel-container {
    /* background-color: deeppink; */
    width: 50%;
    height: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel {
    width: 40vw;
    height: 40vw;
    /* background-color: aquamarine; */

    border: solid black 2px;

    overflow: hidden;
}

.image-test {
    height: 1000px;
}


.student-info-container {
    /* background-color: cornflowerblue; */
    width: 50%;
    height: 100%;
    /* padding-top: 30px; */
    display: flex;
    align-items: center;
}

.student-info {
    /* background-color: #fff; */
    width: 40vw;
    height: 40vw;
    overflow: scroll;

}

.name {

    font-family: "neue-haas-unica";
    font-weight: 300;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
}

.plugs {
    font-family: "neue-haas-unica";
    font-size: 10pt;
    margin-top: 8px;
}

.project-title {
    font-family: 'CustomerCopy', sans-serif;
    font-size: 48pt;
    margin-top: 0;
    margin-bottom: 20px;
}

.project-description {
    margin-top: 0;
    font-family: "neue-haas-unica";
    font-size: 10pt;
}

.office-directory {
    background-color: aqua;
    display: flex;
    width: 20vw;
    height: 44vw;
    border: solid 2px black;
    margin-top: 20px;
}





/* MOBILE */
@media screen and (max-width:700px) {
    .mobile {
        display: block;
        object-fit: contain;
    }

    .desktop {
        display: none;
    }

   .main {
        height: 300vw;
        /* background-color: blueviolet; */
   }

    .rectangle {
        width: 100%;
        height: 160vw;

        flex-direction: column;
        overflow: auto;
    }

    .work-container {
        width: 100%;
        height: 120%;
    }

    .info-container {
        width: 100%;
    }

    .info-container h1 {
        margin-top: 0;
    }

    /* .text-wrapper {
        width: 100%;
        height: 150vw;
    } */

    .room-name {
        font-size: 30pt;
    }

    .about-info {
        height: 110vw;
    }
}

