* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomerCopy';
    src: url('/Customer Copy.woff2') format('woff2'), /* Modern Browsers */
         url('/Customer Copy.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    font-family: 'neue-haas-unica';

}

.wrapper {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    width: 100vw;
    height: 70px;
    background-color: white;

    border-bottom: black solid 2px;

    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

.logo {
    max-height: 35px; /* Set the maximum height of the logo */
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25px; 
}

.buttons {
    height: 100%;
    width: 400px;
    /* background-color: blue; */
    margin-right: 20px;

    display: flex;
    justify-content: end;
    align-items: center;
}

#openBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;
    right: 20px;

    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;

}

#openBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

#aboutBtn {
    padding: 14px 20px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#aboutBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.directory-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
}

#closeBtn {
    padding:5px 14px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: black 1.5px solid;
    cursor: pointer;

    margin-right: 10px;
    
    font-family: "neue-haas-unica";
    font-weight: 500;
    font-size: 8pt;
}

#closeBtn:hover {
    background-color: #ffc60a;
    transition: 1s;
}

.slide-out {
    position: fixed;
    bottom: -100%; /* Initially hidden below the screen */
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 2px solid black;
    transition: bottom 0.3s ease-in-out;
}

.slide-in {
    bottom: 0; /* Slide in from the bottom */
}

/* MAIN */

.main {
    width: 100%;
    height: 150%;
    background-color: #ffc60a;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.content-wrapper {
    width: 100vw;
    height: 100%;
    /* background-color: pink; */

    display: flex;
    margin:20px;
    margin-top: 90px;


    gap: 20px;

}

.rectangle {
    background-color: white;
    width: 100%;
    height: 100%;

    border: solid black 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}


/* student work organization */

/* Carousel container */
.work-container {
    background-color: rgb(216, 216, 216);
    border: solid black 1.5px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Position relative for absolute positioning of arrows */
}

/* Individual carousel image */
.work-container img {
    max-width: 100%; /* Ensure image fits within container */
    max-height: 100%; /* Ensure image fits within container */
    object-fit: contain; /* Maintain aspect ratio and fit within container */
    display: block; /* Remove default inline display */
}

.carousel {
    width: 100%;
}

/* Previous and Next buttons for carousel (if needed) */
/* You can style these buttons further as needed */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 1;
}

.carousel-btn-prev {
    left: 10px;
}

.carousel-btn-next {
    right: 10px;
}


/* student name */
.info-container {
    width: 30%;
    overflow: scroll;
}
.info-container h1 {
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'CustomerCopy', sans-serif;
    font-size: 20pt;
    line-height: 20pt;

    font-weight: normal;

}

/* project title */

.info-container h2{
    margin-top: 0; /* Remove space above h1 */
    margin-bottom: 0;

    font-family: "neue-haas-unica";
    font-size: 20pt;
    line-height: 22pt;
    font-weight: 200;

}

/* PROJECT DESCRIPTION */

.info-container p {
    font-family: "neue-haas-unica";
    font-size: 10pt;
    line-height: 13pt;
    font-weight: 200;
}



/* right text box */

/* .text-wrapper {
    background-color:white;
    width: 30%;
    height: 46vw;

    border: solid black 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

} */

.room-name {
    width: 90%;
    height: 20%;

    margin-top: 5%;

    border: solid black 1.5px; 

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'CustomerCopy', sans-serif;
    font-size: 22pt;
}

.name-box {
    width: 90%;
    height: 70%;
    /* background-color: lightcoral; */
    margin-top: 5%;

    border: solid black 1.5px;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.inner-name-box {
    /* background-color: cadetblue; */
    width: 90%;
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;


    overflow:scroll;

    line-height: 10pt;
    font-size: 10pt;
}

/* ABOUT PAGE */

.about {
    background-color: #ed2087;
    display: flex;
    justify-content: center;
}

.about-info {
    width: 100vw;
    height: 46vw;
    background-color: white;

    border: solid black 2px;

    display: flex;
    margin:20px;
    margin-top: 90px;

    justify-content: center;
    align-items: center;

    font-family: "neue-haas-unica";

}

/* BEDROOM PAGE */

.bedroom {
    background-color:#59caec ;
}

/* CLOSET PAGE */

.closet {
    background-color: #ffc60a ;
}

/* KITCHEN PAGE */

.kitchen {
    background-color: #ffc60a;
}

/* OFFICE PAGE */

.office {
    background-color: #ed2087;
}

/* LIVING ROOM PAGE */

.living {
    background-color: #ed2087;
}


/* DINING ROOM PAGE */

.dining {
    background-color: #59caec;
}

/* PRJOECT PAGE Example */

.project {
    background-color:#ffc60a;
}





/* MOBILE */
@media screen and (max-width:600px) {
   .main {
        height: 300vw;
        /* background-color: blueviolet; */
   }
   
    .content-wrapper {
        /* background-color: pink; */
        flex-direction: column;
        height: 240vw;
    }

    .rectangle {
        width: 100%;
        height: 160vw;

        flex-direction: column;
    }

    .work-container {
        width: 100%;
        height: 120%;
    }

    .info-container {
        width: 100%;
    }

    .info-container h1 {
        margin-top: 0;
    }

    .text-wrapper {
        width: 100%;
        height: 150vw;
    }

    .room-name {
        font-size: 30pt;
    }

    .about-info {
        height: 110vw;
    }
}

