body{
    margin: 0px;
    font-family: 'neue-haas-unica';
}

.main-container {
    color: black;
    width: 900px;
    height: 600px;
    border: 2px solid black;
    position: fixed;
    bottom: 25px;
    left: 10px;
    margin: 10px;
}

.logo {
    position: fixed;
    margin: 10px;
    top: 10px;
    left: 10px;
    width: 20%;
}

.index {
    position: fixed;
    right: 430px;
    top: 90px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.title1 {
    font-size: 20px;
}

.roominfo {
    position: fixed; 
    width: 30%;
    right: 110px;
    top: 520px;
}

.subhead {
    font-size: 20px;
}